body{
  margin: 0;
  font-family: 'Sintony', sans-serif;
}

#info-box{
  position: absolute;
  top: 6%;
  left: 3%;
  background-color: rgba(22,22,22,0.7);
  color: #eee;
  width: 260px;
  font-size: 14px;
  padding: 15px;
  border: 1px solid #666;
}

#info-box2{
  position: absolute;
  bottom: 3%;
  left: 3%;
  background-color: rgba(22,22,22,0.7);
  color: #eee;
  width: 260px;
  font-size: 14px;
  padding: 15px;
  border: 1px solid #666;
}

#info-box  hr{
  margin: 0;
  border: 0;
  border-top: 1px solid #fff;
}

#info-box .search{
  margin-top: 6px;
  background-color: rgba(22,22,22,0.7);
  border: 1px solid #fff;
  padding: 4px 10px;
  font-size: 14px;
  color: #fff;
}

.unrelated-color{
  background-color: #6b6b6b;
}

.sources-color{
  background-color: #bbfefd;
}

.intermediaries-color{
  background-color: #d3bd00;
}

.targets-color{
  background-color: #cf4fb0;
}

.legend-icon{
  display: inline-block;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}


svg{
  background-color: #383838;
  height: 100%;
}

.unrelatedcircle{
  stroke-opacity: 0.3;
  stroke: #6b6b6b;
  fill: none;
  opacity: 0.7;
}


/*.node {
    stroke: steelblue;
    stroke-width: 2px;
}
*/

.nodeText {
  font-size: 0.7em;
}

.link {
    stroke: #777;
    stroke-width: 1px;
    fill: none;
}

.sourcelink {

}

.targetlink {
    
}

/*
.pool {
    fill: #3db1ff;
    stroke: #4f4f4f;
}*/

.unrelated, .unrelated1, .unrelated2, .unrelated3, .unrelated4{
    fill: #6b6b6b;
    stroke-width: 0px;
}

.sources {
    fill: #bbfefd;
    stroke-width: 0px;
}

.intermediaries {
    fill: #d3bd00;
    stroke-width: 0px;
}

.targets {
    fill: #cf4fb0;
    stroke-width: 0px;
}

.d3-tip {
  top: 6% !important;
  right: 1% !important;
  left: auto !important;
  height: 90% !important;
  width: 200px !important;
  background-color: rgba(22,22,22,0.7);
  opacity: 1 !important;
  line-height: 1;
  font-weight: normal;
  padding: 0 12px 12px;
  color: #fff;
  border: 1px solid #666;
  border-radius: 2px;
  overflow-y: scroll;
}

.d3-tip b{
  margin: 16px 0 8px;
  display: inline-block;
}


.d3-tip ul {
  list-style: none;
  padding:0;
  margin:0;
}

.d3-tip li { 
  padding-left: 1em; 
  text-indent: -.7em;
}

.d3-tip .tip-unrelated li:before {
  content: "• ";
  color: #6b6b6b;
  font-size: 16px;
}

.d3-tip .tip-intermediaries li:before {
  content: "• ";
  color: #d3bd00;
  font-size: 16px;
}

.d3-tip .tip-sources li:before {
  content: "• ";
  color: #bbfefd;
  font-size: 16px;
}

.d3-tip .tip-targets li:before {
  content: "• ";
  color: #cf4fb0;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}