@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import "variables_override";
// @import "animate";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot);
	src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/bootstrap/glyphicons-halflings-regular.woff2) format('woff2'),
	     url(../fonts/bootstrap/glyphicons-halflings-regular.woff) format('woff'),
	     url(../fonts/bootstrap/glyphicons-halflings-regular.ttf) format('truetype'),
	     url(../fonts/bootstrap/glyphicons-halflings-regular.svg#) format('svg');
}

html {
	height:100%;
	background:$gray-darker;
	font-family: 'Raleway', sans-serif;
}

h1{
	font-size: 36px;
	font-weight: bold;
	line-height: 1.35em;
}

h2{
	font-size: 20px;
	line-height:1.5;
}

//main onepager 
#signup {
	padding-top:50px;
	background:$gray-lighter;
	overflow:hidden;
}
#about {
	background:$brand-primary;
	overflow:hidden;
	h1,h2,p {
		color:#fff;
	}
}
#contact {
	background:$gray-lighter;
	overflow:hidden;
}
.main {
	text-align:center;
	padding:50px 0 90px;
	.signup {
		padding:20px 25px;
		margin-top:25px;
		h1 {
			margin-top:20px;
		}
		input {
			height: ($line-height-computed + ($padding-base-vertical * 2) + 10);
			margin-bottom: 10px;
			&[type="text"], &[type="email"] {
				width: 100%;
				padding-left:5px;
				padding-right:5px;
			}
			&[type="submit"] {
				margin-top:15px;
			}
		}
	}
	h1 {
		margin:40px 0 25px;
	}
	.thumbs {
		margin-top:50px;
	}
}

#login-wrapper{
	background-image: url('../img/bg.jpg');
	background-size: cover;
	color: #fff;
	padding-bottom:30px;

	.btn-login{
		border-radius: 4px;
		color: #fff;
		background-color: rgba(0,0,0,0.4);
		margin:20px 0;
		transition:all .2s ease;
		&:hover, &:focus {
			background-color: rgba($brand-primary,0.6);
		}
	}
}

.login {
	margin-top:90px;
	margin-bottom:90px;
	h1 {
		margin-bottom: 25px;
	}
	.panel {
		background:$gray-lighter;
		text-align:center;
		padding:20px 25px;
	}
	input {
		height: ($line-height-computed + ($padding-base-vertical * 2) + 10);
	}
}

.logos {
	margin:20px 0;
	img {
		width:25%;
		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}

nav {
	//background: #222222;

	&.navbar{
		margin-bottom: 0;
		border: 0;
		min-height: 60px;
	}

	.navbar-brand {

		padding: 10px 15px;
		//margin-right: 110px;
		height: 60px;
		
		a,span {
			color:$brand-primary;
			font-weight: bold;
		}

		.sub-logo{
			font-weight: normal;
			font-size: 12px;
			display: block;
			color:$gray-light;
		}
	}
}

.fa-ul {
	li {
		margin:5px 0;
	}
}

.foot {
	a {
		color:#fff;
		text-decoration: underline;
	}
	&.bl {
		a {
			color:#222;
		}
	}
}

//campaign overview page
.campaignview {
	padding-top:40px;
	padding-bottom:40px;
	.actions {
		button {
			margin:2px 0;
		}
		button:first-of-type {
			margin-right: 10px;
		}
	}
	.max10 {
		color:$gray;
		margin-left:10px;
		font-size: 85%;
	}
	.toggle-tag {
		margin-right:10px;
		display:block;
		float: left;
	}
	.legend {
		display: block;
		float: left;
		padding:5px 10px;
		margin-right:10px;
		background:$gray-darker;
		border-width:3px;
		border-style:solid;
		color:#fff;
		cursor: pointer;
		&:hover {
			text-decoration:none;
			opacity: 1;
		}
		&.disabled {
			opacity: .4;
		}
	}
	.running {
		border-color:$brand-primary;
	}
	.completed {
		border-color:$brand-danger;
	}
	.planned {
		border-color:$brand-warning;
	}
	.panel {
		
		text-align:center;
		border-width:3px;
		color:#fff;
		position:relative;
		> .glyphicon {
			display: none;
		    font-size: 170px;
		    color: $gray-dark;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    z-index: 0;
		    margin-left: -85px;
		    margin-top: -85px;
		    line-height: 1;
		}
		.panel-content {
			padding:20px 25px;
			color:#fff;
			position:relative;
			z-index: 9;
			.date {
				font-size:12px;
			}
			> span {
				display: block;
				margin-bottom: 20px;
			}
			label {
				display: inline;
				font-weight:400;
			}
			h2 {
				margin-top:10px;
				white-space: nowrap;
			}
			.actions {
				margin-top:20px;
				button {
					margin:0 5px;
				}
			}
			button {
				//border:1px solid #fff;
				font-size: 14px;
			}
		}
	}
	.new-campaign {
		margin-bottom: 20px;
	}
}

.campaigndetail {
	.panel {
		background:#f9f9f9;
		.panel-content {
			padding:20px 25px;
		}
		.row {
			margin-bottom: 10px;
		}
		input.btn {
			height: ($line-height-computed + ($padding-base-vertical * 2) + 10);
		}
		.checkbox {
			margin:0;
		}
		.cb {
			margin-bottom: 15px;
			.form-group {
				margin:0;
			}
			> .form-group {
				&:last-of-type {
					margin-top:10px;
				}
			}
		}
		.daterange {
			margin-bottom: 15px;
			div {
				width: 100%;
			}
			.datepicker__input {
				border-radius:0;
				height:($line-height-computed + ($padding-base-vertical * 2) + 10);
				width: 100%;
			    padding: 6px 12px;
			    font-size: 18px;
			    line-height: 1.42857;
			    color: #555555;
			    background-color: #fff;
			    border: 1px solid #ccc;
			}
		}
	}
}

.main {
	margin-bottom:25px;
}

footer {
	padding:90px 0;
	background:$gray-darker;
	color:#fff;
}



.navbar-nav {
	margin:0;
	float: right;
	li {
		height: 60px;
		float: left;
	}
}

.navbar-nav > li > a{
	height: 60px;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 27.5px;
	padding-right: 27.5px;
}


//text alignment
.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}