@import "variables_override";
// @import "animate";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot);
	src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/bootstrap/glyphicons-halflings-regular.woff2) format('woff2'),
	     url(../fonts/bootstrap/glyphicons-halflings-regular.woff) format('woff'),
	     url(../fonts/bootstrap/glyphicons-halflings-regular.ttf) format('truetype'),
	     url(../fonts/bootstrap/glyphicons-halflings-regular.svg#) format('svg');
}

.login {
	margin-top:25px;
	h1 {
		margin-bottom: 25px;
	}
	.panel {
		background:$gray-lighter;
		text-align:center;
		padding:20px 25px;
	}
	input {
		height: ($line-height-computed + ($padding-base-vertical * 2) + 10);
	}
}

//campaign overview page
.campaignview {
	.panel {
		background:$gray-lighter;
		text-align:center;
		.panel-heading {
			&.running {
				background:$brand-success;
				color:#fff;
			}
			&.completed {
				background:$gray-darker;
				color:#fff;
			}
			&.planned {
				
			}
		}
		.panel-content {
			> span {
				display: block;
				margin-bottom: 20px;
			}
			label {
				display: block;
			}
			.actions {
				margin-top:20px;
				button {
					margin:0 5px;
				}
			}
		}
	}
	.new-campaign {
		margin-bottom: 20px;
	}
}

.campaigndetail {
	.panel {
		background:$gray-lighter;
		.panel-content {
			padding:20px 25px;
		}
		.row {
			margin-bottom: 10px;
		}
		input.btn {
			height: ($line-height-computed + ($padding-base-vertical * 2) + 10);
		}
		.checkbox {
			margin:0;
		}
		.cb {
			margin-bottom: 15px;
			.form-group {
				margin:0;
			}
			> .form-group {
				&:last-of-type {
					margin-top:10px;
				}
			}
		}
		.daterange {
			margin-bottom: 15px;
			div {
				width: 100%;
			}
			.datepicker__input {
				border-radius:0;
				height:($line-height-computed + ($padding-base-vertical * 2) + 10);
				width: 100%;
			    padding: 6px 12px;
			    font-size: 18px;
			    line-height: 1.42857;
			    color: #555555;
			    background-color: #fff;
			    border: 1px solid #ccc;
			}
		}
	}
}